::-webkit-scrollbar {
  display: none;
}

*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* common */

h1 {
  padding-top: 160px;
  font-size: 110px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 40px;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.left{
  float: left;
}

.right{
  float: right;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

/*  common  */


/* nav  */

header{
  height: 90px;
  padding-top: 1.2rem;

  transition: all 0.2s ease-in-out;

  backdrop-filter: blur(16px);  

  position: fixed;
  top:0;
  left:0;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

nav {
  width: 1100px;
  margin: 0 auto;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
}

.header .logo a{
  width: 150px;
  height:0;
  overflow: hidden;
  padding-top: 150px;
  display: block;
  background: url(./img/logo.png)no-repeat left top/100%;
}

.header .link{
  display: flex;
  align-items: center;
  justify-content: center;
}


.link ul li{
  list-style: none;
  display: inline-block;
  padding: 20px 0px;
  margin: 10px 0 10px 20px;
  font-size: 18px;
}

li a{
  color: black;
  text-decoration: none;
}

header.sticky {
  height: 60px;
  padding-top: 0px;
    background-color: rgba(255, 255, 255, 0.8);
  border-style: none none solid none;
  border-width: thin;
  border-color: #7B7B7B;
}


li a:hover{
  text-decoration: underline;
  transition: all 0.1s ease-in-out;
}


/* header  */

/* body */

body
{
  dispaly:flex;
  justify-content: center;
  align-items: center;

  background-color: white;

  font-size: 18px;

}

.background {
  height: 100vh;
  background-color: #F7EEE7;
}


.top-section {
  position: sticky;
  top: px;

  text-align: center;

  color: rgba(0, 0, 0, var(--background-opacity));

  margin: 0 auto;

  /* (oldVal - oldMin) * newRange / oldRange + newMin */
  /* oldVal:  oldMin:25  newRange:100  oldRange:75  newMin:0 */
  translate: 0 calc(-0.5% * (max(var(--scroll), 25) - 25) * 100 / 75); 
  --background-opacity: calc(100% - 1% * min(var(--scroll), 30) * 100 / 30);
}


a#scroll-btn {
  position: absolute;
  height: 60px;
  width: 60px;
  border-bottom: 8px solid #26337B;
  border-left: 8px solid #26337B;
  border-radius: 2px ;
  transform: rotate(-45deg);
  margin: auto;
  left: 0;
  right: 0;
  bottom: 2.25em;
}



.other-section {
  padding-top: 10vh ; 
}

/*

.work {
  scroll-snap-type: y mandatory;
  scroll-padding: 60px;
  overflow:scroll;
  height: 400vh;
}

*/

.work-section {
  width: 100%;
  height: 100vh;
  /* scroll-snap-align: start; */
}

.images {
  margin: 0 auto;
}

img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  /* height: 350px; width: 1100px */
}


/* links buttom */

.images a:link, .images a:visited {
  text-decoration: none;
  color: #000000;

}

button {
  background: none;
  outline: none;
  padding: 5px 10px;
  border: 1px solid #000000;
  border-radius: 0.25em;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}


button:hover {
  color: #ffffff;
  background-color: #000000;
}

:root {
  --scroll: 0;
}

/* body */


/* loader  */

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #26337B;
  z-index: 2;
}

.stroke {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
}

path {
  stroke: #F7EEE7;
  fill: #F7EEE7;
  stroke-dasharray: 1100;
  opacity: 10;
  animation: animate1 1.8s cubic-bezier(0,0.34,1,.38);
}

polyline {
  stroke: #F7EEE7;
  stroke-dasharray: 300;
  opacity: 10;
  animation: animate2 1.8s cubic-bezier(0,0.34,1,.38);
}

@keyframes animate1 {
  0% {
    opacity: 0;
    fill: none;
    stroke-dasharray: 1100;
  }
  20% {
    opacity: 10;
    fill: none;
    stroke-dasharray: 1100;
  }
  80% {
    fill: none;
  }
  100% {
    opacity: 10;
    fill: none;
    stroke-dasharray: 0;
  }
}

@keyframes animate2 {
  0% {
    opacity: 0;
    fill: none;
    stroke-dasharray: 300;
  }
  20% {
    opacity: 10;
    fill: none;
    stroke-dasharray: 300;
  }
  80% {
    fill: none;
  }
  100% {
    opacity: 10;
    fill: none;
    stroke-dasharray: 0;
  }
}

.loader {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
  color: #F7EEE7;
  z-index: 2;
}



/* footer */


footer {
  height: 90px;
  padding-top: 1.4rem;
  background-color: rgba(38, 51, 123, 1);
}

footer .copyright{
  font-size: 18px;
  color: white;
}

footer .contact{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact ul li{
  list-style: none;
  display: inline-block;
  padding-left:15px;
}

.icon {
  width: 25px;
  height: 25px;
  fill: currentColor;
  overflow: hidden;
}


/* footer */


/* media queries  

@media (width <= 1600px) {
    .container{
        width:1100px
    }
    .images img {
        width: 100%;
        height: auto;
    }
}

@media (width <= 1200px) {
    .container{
        width:780px
    }
    .images img {
        width: 100%;
        height: auto;
    }
}
}

*/

@media (width <= 900px) {
    .container{   
        width: calc(100% - 48px);
        margin-left: 24px;
        margin-right: 24px
    }
}


